@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 75%, #001170 100%);
    margin: 0;
}

#center {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.93);
}

label {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    text-align: left;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

input:focus {
    border-color: #001170;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #001170;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
    display: none;
    /* Inicialmente escondido */
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    width: 85px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

#logout-button:hover {
    background-color: #000000;
}

#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

#chatbot:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    background-color: #001170;
}
